@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

form p.evcf7-verify-btn {
    position: relative;
    display: block;
    margin-top: 10px;
}

form p.evcf7-verify-btn .loader {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: auto;
    background-color: #000;
    opacity: 0.60;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
    transform: translate(0, -50%);
    border: 1px solid #fff;
}

form p.evcf7-verify-btn .loader:after {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.evcf7_email_sent,
.evcf7_error_sending_mail {
    font-size: 1em;
    font-weight: normal;
}